.typed-cursor{
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}

@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}


.scene1-slide {
	/*background: #4390EE;*/
	background-image: url("../images/bg1.jpg");
	background-size: cover;
}
.scene2-slide {
	/*background: #CA4040;*/
	/*background-image: url("../images/bg4.jpg");*/
	/*background-size: cover;*/
}
.scene3-slide {
	/*background: #FF8604;*/
}

.scene4-slide {
	/*background: #FF8604;*/
}

.swiper-container {
	width: 100%;
    height: 100%;
	background:#FFFFFF;
}  

.swiper-slide{
	width:100%;
	height:100%;
}

.talk{
	height: 924px;
	width: 540px;
	margin: 0 auto;
	padding-top: 80px;
	background: url(../images/background1.png) no-repeat;
}

.word{
	font-family: "YouYuan";
	font-size: 30px;
	line-height: 100px;
	text-align: center;
	margin:0 auto;
	height: 100px;
}

.word0{
	font-family: "YouYuan";
	font-size:xx-large;
	line-height: 500px;
	text-align: center;
	margin:0 auto;
	height: 500px;
}


.scene0{
	/*display: -webkit-flex;*/
	/*display: flex;*/
	/*-webkit-align-items: center;*/
	/*align-items: center;*/
	/*-webkit-justify-content: center;*/
	/*justify-content: center;*/
	width: 100%;
	height: 50%;
	margin-top: 15%;
}

.scene0-slide{
	background-image: url("../images/bg3.jpg");
	background-size: cover;
}

.left1{
	width: 600px;
	height: 200px;
	line-height: 200px;
	margin: 20px auto;
}

.left2{
	width: 600px;
	height: 200px;
	line-height: 200px;
	margin: 100px auto;
}


.imgMiddle{
	vertical-align: middle;
}

.center{
	text-align: center;
}
html,body{
	height:100%;
}


